<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Rautkashinath/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Rautkashinath" />
            <add key="ClearTextPassword" value=${{ secrets.NUGET_DOT_ORG_API_KEY }} />
        </github>
    </packageSourceCredentials>
</configuration>
